<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HZBicycle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HZBicycleExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E02263A81E348AA500114A59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0630A991DB9C44C0012EA3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0630AB21DB9C44C0012EA3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0630ABD1DB9C44C0012EA3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
